body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #84A98C;
    color: #2F3E46;
    padding-top: 4%;
}
.quiz-container {
    width: 50%;
    margin: auto;
    background: #CAD2C5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.question {
    font-size: 30px;
    margin-bottom: 15px;
    color: #2F3E46
}
.options button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #52796F;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
}
.options button:hover {
    background-color: #2F3E46;
}
#bunny {
    display: none;
    width: 100px;
    margin: 10px auto;
}
#sqr {
    display: none;
    width: 100px;
    margin: 10px auto;
}
.mic-drop {
    font-size: 30px;
    margin-top: 20px;
    display: none;
}